<!DOCTYPE html>
<html lang="en" ng-app="blog">
<head>
    <meta charset="UTF-8">
    <title>Angular. Blog</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="BlogController as blog">
    <div class="container articles">
        <!-- Articles directive -->
        <div blog-articles ng-repeat="article in blog.articles" class="article-container"></div>

        <button class="btn btn-success" ng-click="blog.showPopup()">Добавить новую запись</button>
    </div>

    <!-- Popup directive -->
    <div class="add-article-popup" ng-show="blog.isPopup()" blog-popup></div>


    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>